.header-search{
    position : relative;
    display: inline-block;
}
.search{
    display: none;
    position: absolute;
    left: 0;
    top: -1px;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content-navigation:hover .dropdown-content-navigation-content{
    display: block;
}